<div class="">
  <h1 class="">
    <a href="">Compêre</a>
  </h1>
</div>

<nav class="">
  {{#if loggedIn}}
    <ol class="">
      <li class="">
        <a href="/">Home</a>
      </li>
      <li class="">
        <a href="/dashboard">Dashboard</a>
      </li>
      <li class="">
        <a href="/logout">Log Out</a>
      </li>
    </ol>
  {{else}}
    <ol class="">
      <li class="">
        <a href="/">Home</a>
      </li>
      <li class="">
        <a href="/login">Log In</a>
      </li>
      <li class="">
        <a href="/signup">Sign Up</a>
      </li>
    </ol>
  {{/if}}
</nav>