<div class="col-10 col-md-5 quiz-body">
  <img class="quiz-img" src={{img_url}} />
  <div class="quiz-content">
    <h4 id="quiz-title">{{title}}</h4>
    <p>
      {{description}}
    </p>
    <a href="/quiz/{{{id}}}" class="view-btn">More Quiz Details</a> 
    <br /><br />
  </div>
</div>