<div class="col-10 col-md-5 quiz-body">
  {{! make the <i> have an id of the quiz_id }}
  <div class="quiz-like">14k likes
    <i id="1" class="fa-regular fa-heart"></i></div>
  <img class="quiz-img" src={{quiimg_url}} />
  <div class="quiz-content">
    <h4 id="quiz-title">{{title}}</h4>
    <p>
      {{description}}
    </p>
    <a href="quiz/1" class="view-btn">More Quiz Details</a>
    <br /><br />
    {{!-- <a href=`/quiz/{{{id}}}` class="view-btn">More Quiz Details</a>  --}}

  </div>
</div>