<div class="col-10 col-md-5 quiz-body">
  {{#if img_url}}
    <img class="quiz-img" src={{img_url}} />
  {{/if}}
  <div class="quiz-content">
    <h4>{{title}}</h4>
    <p>
      {{description}}
    </p>
    <button class="view-btn" type="submit">More Quiz Details</button>
  </div>
</div>