<h1 id="question"></h1>
<img src="" id="question-img" />
<div class="col-12 row text-center justify-content-around" id="answers">
  <button class="view-btn col-5" id="answer1"></button>
  <button class="view-btn col-5" id="answer2"></button>
  <button class="view-btn col-5" id="answer3"></button>
  <button class="view-btn col-5" id="answer4"></button>
</div>
<script src="/javascript/take-quiz.js"></script>