{{! input{name='question'} & input{name='answer'} for input attributes to link correctly to the front end}}
<section id="add-quiz-meta" class="container">
    <h2 class="add-title">Build Your Quiz</h2>
    <div class="row justify-content-center quiz-section">
        <label class="col-11 text-center add-label" for="quiz-title">Quiz Title:</label>
        <input class="col-11" style="margin-bottom: 20px;" type="text" id="quiz-title"/>
        <img class="col-11" src="/images/placeholder.jpeg">
        <label class="col-11 text-center add-label" for="quiz-description">Description:</label>
        <textarea class="col-11" id="quiz-description" name="quiz-description"></textarea>
        <button class="col-4 view-btn" id="submit-quiz-meta" type="button">Continue</button>
    </div>
</section>
<section id="add-quiz-content" class="container">
    <h2 class="add-title">Build Your Quiz</h2>
    <div class="row justify-content-around">
        <label class="col-11" for="question">Question One</label>
        <input class="col-11" style="margin-bottom: 20px;" type="text" id="question"/>
        <label class="col-11" for="ans-one">Answer One</label>
        <input class="col-11" style="margin-bottom: 20px;" type="text" id="ans-one"/>
        <label class="col-11" for="ans-one">Answer Two</label>
        <input class="col-11" style="margin-bottom: 20px;" type="text" id="ans-one"/>
        <label class="col-11" for="ans-one">Answer Three</label>
        <input class="col-11" style="margin-bottom: 20px;" type="text" id="ans-one"/>
        <label class="col-11" for="ans-one">Answer Four</label>
        <input class="col-11" style="margin-bottom: 20px;" type="text" id="ans-one"/>
    </div>
    <div class="row justify-content-between align-items-center text-center">
        <span class="col-5"><i class="fa-solid fa-chevron-right flip-icon nav-btn"></i>Previous</span>
        <span class="col-5">Next<i class="fa-solid fa-chevron-right nav-btn"></i></span>
        <button class="col-12 view-btn" id="save-quiz" type="click">Publish Quiz</button>
    </div>
</section>

