<div class="row justify-content-around">
  <section class="col-12 col-lg-8 row align-items-center">
    <div class="col-12 col-md-5 col-lg-6">
      <h2 class="profile-name editable" id="profileName"  contentEditable="true">{{userInfo.username}}</h2>
      <img class="profile-img"  src="/images/placeholder.jpeg" />
    </div>
    <div class="col-12 col-md-7 col-lg-6 row justify-content-end text-start profile-section" >
      <h3 class="profile-email">Email: <span class="editable profile-emails" id= "profileEmail" contentEditable="true">{{userInfo.email}}</span></h3>
      <h3 class="profile-email">Created {{userInfo.quizzes.length}} Quizzes</h3>
      <h3 class="profile-email">Liked {{userInfo.liked_quizes.length}} Quizzes</h3>
    </div>
    <div class="col-12 row justify-content-center">
      <a href="/dashboard" class="col-10 view-btn text-center">Save</a>
      <a id="delete-user" class="col-10 view-btn text-center">Delete User</a>
    </div>
  </section>

<script src ="/javascript/edit-profile.js"></script>
<script src="/javascript/delete-user.js"></script>