<div class="row justify-content-around">
  <section class="col-12 col-lg-8 row align-items-center scroll">
    <div class="col-12 col-md-5 col-lg-6">
      <h2 class="profile-name editable" id="profileName"  contentEditable="true">{{userInfo.username}}</h2>
      <img class="profile-img"  src="/images/placeholder.jpeg" />
    </div>
    <div class="col-12 col-md-7 col-lg-6 text-center text-md-start" >
      <h3 class="profile-email">Email: <span class="editable profile-emails" id= "profileEmail" contentEditable="true">{{userInfo.email}}</span></h3>
      <h3 class="profile-email">Created {{userInfo.quizzes.length}} Quizzes</h3>
      <h3 class="profile-email">Liked {{userInfo.liked_quizes.length}} Quizzes</h3>
      <a href="/dashboard" class="view-btn">Save</a>
    </div>
    <script src ="/javascript/edit-profile.js"></script>
  </section>