<section class="row">
    <div class="col-12 row justify-content-end text-center">
        <a class="col-4 view-btn">Save Quiz</a>
    </div>
    <div class="col-12 edit-meta">
        <h2 class="edit-title">{{quiz.title}}</h2>
        <p>{{quiz.description}}</p>
    </div>
    <div id="edit-location" class="col-12 row justify-content-center">

    </div>
</section>

<script src="/javascript/edit-quiz.js"></script>