<section class="row justify-content-around">
  <h2 class="col-5 text-end">Search By Quiz:</h2>
  <input class="col-6" type="searchQuery" id="searchQuery" />
</section>

<section>
    {{> populate-quiz}}
</section>