<section>
  <div class="row justify-content-center text-center quiz-section">
    <h2 class="col-5 col-md-3 text-end">Search By Quiz:</h2>
    <input class="col-6 col-md-5 search-bar" type="searchQuery" id="searchQuery"/>
    <i class="col-1 fa-solid fa-magnifying-glass mag-btn"></i>
  </div>

  <h3>Our Current Quizzes</h3>

  {{!-- {{#each quiz}} --}}
    {{> populate-quiz}}
  {{!-- {{/each}} --}}
</section>