<section class="row justify-content-center text-center">
  <form
    class="col-10 col-md-8 col-lg-5 col-xl-4 row justify-content-center form-section"
  >
    <h2 class="col-12 text-start">Log In</h2>
    <div class="col-12 row">
      <label class="col-12 col-md-4" for="login-email">Email: </label>
      <input
        class="col-12 col-md-8"
        style="margin-bottom: 20px;"
        type="text"
        id="login-email"
      />
    </div>

    <div class="col-12 row">
      <label class="col-12 col-md-4" for="login-password">Password: </label>
      <input
        class="col-12 col-md-8"
        style="margin-bottom: 20px;"
        type="password"
        id="login-password"
      />
    </div>

    <button class="col-6 col-md-4 view-btn" type="submit">Log In</button>
  </form>

  <p class="toggle-phrase">If you don't have an account. Make one
    <a href="/signup">here.</a></p>
</section>

<script src="/javascript/login.js"></script>
<script
  type="text/javascript"
  src="javascripts/livevalidation_standalone.js"
></script>