* {
  box-sizing: border-box;
}

:root {
  /* --primary-color: rgb(139, 216, 147);
  --secondary-color: rgb(63, 113, 72);
  --tertiary-color: rgb(116, 186, 115);
  --primary-text-color: rgb(239, 151, 65);
  --secondary-text-color: rgb(226, 213, 174); */
  --primary-font: "Kumbh Sans";
  --primary-color: #cbd5b1;
  --secondary-color: #446724;
  --primary-text-color: #6e8b3d;
  --secondary-text-color: #354e0c;
  --accent-color: #854442;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

/* Styling the Header / Navigation */
.header-bg {
  position: absolute;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--secondary-color);
  width: 100%;
  height: 70px;
  z-index: -1;
  top: -8px;
}

h1 {
  font-family: var(--primary-font);
  padding-left: 10px;
  margin-bottom: -5px;
}

h1 > a {
  font-size: 60px;
  color: var(--primary-text-color);
}

h1 > a:hover {
  color: var(--secondary-text-color);
}

#header-img {
  width: 40px;
  margin: -12px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
  transition: 2s;
  transform: rotate(720deg);
}

li > a {
  font-size: 15px;
  color: var(--primary-text-color);
}

li > a:hover {
  font-size: 15px;
  color: var(--secondary-text-color);
}

/* Styling Home Page */
h2 {
  font-size: 18px;
  color: var(--primary-text-color);
}

input {
  border-radius: 10px;
  background-color: var(--primary-color);
  border: solid 2px var(--primary-text-color);
  color: var(--primary-text-color);
}

/* Styling Quiz Cards */
h3 {
  margin-top: 15px;
  margin-left: 10px;
  color: var(--secondary-color);
}

.quiz-section {
  margin-right: 0;
  margin-left: 0;
}

.quiz-body {
  background-color: var(--primary-color);
  border: solid 3px var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.quiz-img {
  width: 95%;
}

h4 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 20px;
  margin-top: 10px;
}

h4 ~ p {
  color: black;
}

.view-btn {
  margin-bottom: 10px;
  background-color: var(--primary-color);
  border-top: solid 2px var(--secondary-color);
  border-bottom: solid 2px var(--secondary-color);
  border-radius: 3px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

/* For iPads and Tablets 481px - 767px */
@media screen and (min-width: 481px) {
}

/* For Small Screens and Laptops 768px - 1024px */
@media screen and (min-width: 768px) {
}

/* For Desktops and Large Screens 1025px - 1200px */
@media screen and (min-width: 1025px) {
}

/* For Extra Large Screens and TVs 1201px and more */
@media screen and (min-width: 1201px) {
}
